<div class="jumbotron">
    <div class="content-text">
        <!--<img src="/images/rails.svg" height="100" width="100" >-->
        <h1 class="hit-the-floor">Rails Hammer</h1>
        <h2>Simple, Collobarative <div class="ruby-text">Ruby on Rails</div> template creator IDE</h2>
        <!--<div>{{description}}</div>-->

        <div class="button-panel">
            <button class="btn btn-danger main-button" (click)="onCreateButton()"><span class="glyphicon glyphicon glyphicon-wrench" aria-hidden="true"></span> &nbsp;Create A Project</button>
            <button class="btn btn-danger main-button" (click)="onBrowseButton()"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> &nbsp;Browse Projects</button>
            <!--<button (click)="onDocsButton()">Read More</button>-->
        </div>
    </div>
    <!--content-text-->
</div>
<!--home-page-->

<div class="instruction-panel col-sm-10 col-sm-offset-1">
    <div class="instruction-text">Simple 3 steps to create a Ruby on Rails project</div>
    <div class="row">
        <span class="col-sm-4">
            <div class="instruction-box">
                <div class="step-number label label-danger">Step 1</div>
                <div class="step-text">Create a project inside Rails Hammer editor</div>
            </div>
        </span>
        <span class="col-sm-4">
            <div class="instruction-box">
                <div class="step-number label label-danger">Step 2</div>
                <div class="step-text">Generate Rails Appliation Template file (<a href="http://guides.rubyonrails.org/rails_application_templates.html" target="_blank">Read More</a>)</div>
            </div>
        </span>
        <span class="col-sm-4">
            <div class="instruction-box">
                <div class="step-number label label-danger">Step 3</div>
                <div class="step-text">Create a Ruby on Rails project on local machine using the template file</div>
            </div>
        </span>
    </div>
</div>