.main-content{
    padding: 10px 10px 10px 50px;
}




.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: crimson;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    color: white;
    /*padding-left: 5px;
    padding-right: 5px;*/
}
.sidenav-content{
    padding: 5px;
}

.sidenav-right{
    background-color: crimson;
    height: 100%;
    float: left;
    width: 35px;
    
}

.sidenav-buttons{
    /*margin: auto;*/
}

.sidenav-button{
    width: 230px;
    margin: 5px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px !important;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    /*padding: 16px;*/
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}